
@font-face {
  font-family: "huong-font";
  src:url("../fonts/VL_ForoRounded-Thin.ttf");
}

body {
  color: #000;
  background-color: #fff;
  font-size: 20 px;
  font-family: "huong-font";

}


p {
  text-align: justify;
}

figure {
  border: 5px solid #fff;
  border-radius: 30px;
  width: 100%;
  padding: 50px;
  text-align: center;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}


audio, video {
  width: 50%;
}

.my-padding-right-19 {
  padding-right: 19px;
}
