
@font-face {
  font-family: "huong-font";
  src:url("../fonts/VL_ForoRounded-Thin.ttf");
}

body {
  color: #000;
  background-color: #fff;
  font-size: 12 px;
  font-family: "huong-font";
  font-size: 19px;
  font-family: "huong-font";
}


p {
  text-align: justify;
}

figure {
  border: 3px solid #fff;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}
