.people {
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

#leejongsuk {
  color: #58285e;
  background-color: #ffdeac;
}

#parkshinhye {
  color: #d2f4d2;
  background-color: #a70f0f;
}

#buynbaek-huyn {
  color: #58281e;
  background-color: #e6ffe6;
}

#trieuledinh {
  color: #000000;
  background-color: #E7FF46;
}

#leejongsuk figure {
  border: 3px solid #a1b2c3;
  border-radius: 20px;
}

#parkshinhye figure {
  border: 3px solid #d2f4d2;
  border-radius: 20px;
}

#buynbaek-huyn figure {
  border: 3px solid #58281e;
  border-radius: 20px;
}

#trieuledinh figure {
  border: 3px solid #000000;
  border-radius: 20px;
}

audio,video {width: 50%}
