.people {
  overflow: auto;
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

.name {
  width: 30%;
  float: left;
  padding-right: 9px;
}

.biography {
  width: 70%;
  float: left;
  padding-left: 9px;
}
/*
.d-none{
  display: block;
} */

.my-flexbox-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.name h1 {
  font-size: 12px
}

@media screen and (min-width: 576px) {
    .name h1{
      font-size: 19px;
    }
}

@media screen and (min-width: 768px) {
    .name h1{
      font-size: 28px;
    }
}

@media screen and (min-width: 992px) {
    .name h1{
      font-size: 36px;
    }
}

@media screen and (min-width: 1200px) {
    .name h1{
      font-size: 50px;
    }
}

.name h2 {
  font-size: 10px
}

@media screen and (min-width: 576px) {
    .name h2{
      font-size: 19px;
    }
}

@media screen and (min-width: 768px) {
    .name h2{
      font-size: 28px;
    }
}

@media screen and (min-width: 992px) {
    .name h2{
      font-size: 36px;
    }
}

@media screen and (min-width: 1200px) {
    .name h2{
      font-size: 50px;
    }
}

#leejongsuk {
  color: #58285e;
  background-color: #ffdeac;
}

#parkshinhye {
  color: #d2f4d2;
  background-color: #a70f0f;
}

#buynbaek-huyn {
  color: #58281e;
  background-color: #e6ffe6;
}

#trieuledinh {
  color: #000000;
  background-color: #E7FF46;
}

#leejongsuk figure {
  border: 3px solid #a1b2c3;
  border-radius: 20px;
}

#parkshinhye figure {
  border: 3px solid #d2f4d2;
  border-radius: 20px;
}

#buynbaek-huyn figure {
  border: 3px solid #58281e;
  border-radius: 20px;
}

#trieuledinh figure {
  border: 3px solid #000000;
  border-radius: 20px;
}

#leejongsuk img {
  content: url("../images/b1.jpg")
}

#parkshinhye img {
  content: url("../images/b2.jpg")
}

#buynbaek-huyn img {
  content: url("../images/s3.jpg")
}

#trieuledinh img {
  content: url("../images/b4.jpg")
}

@media screen and (min-width: 576px) {
  #leejongsuk img {
    content: url("../images/s1.jpg")
  }

  #parkshinhye img {
    content: url("../images/s2.jpg")
  }

  #buynbaek-huyn img {
    content: url("../images/b3.jpg")
  }

  #trieuledinh img {
    content: url("../images/s4.jpg")
  }
}
