
table {
  font-family: "huong-font";
  border-collapse: collapse;
  width: 100%;
}

td,th{
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

th{
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #79FFAF;
}

td:first-child {
  text-align: center;
}

td:nth-child(2) {
  font-style: italic;
}

.highlighted {
  background-color: #f00;
  color: : #fff;
  font-weight: bold;
}
