
table {
  font-family: "huong-font";
  border-collapse: collapse;
  width: 100%;
}

td,th{
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

th{
  text-align: center;
  background-color: #79FFAF;
}

/* tr:nth-child(odd) {
  background-color: #79FFAF;
} */

td:first-child {
  text-align: center;
}

td:nth-child(2) {
  font-style: italic;
}

.highlighted {
  background-color: #f00;
  color: : #fff;
  font-weight: bold;
}

/* .highlight{ */
tr:hover{
  background-color: #42f4f4;
  color: : #fff;
  font-weight: bold;
}

#my-td {
  background-color: #79FFAF;
  color: : #fff;
  border: 2px solid #000;
  margin: 30px 0 30px 0;
  height: 50px;
  padding: 25px;
  font-size: 25px;
}

.my-td-span {
  background-color: orange;
  color: inherit;
  font-weight: bold;
  padding: 19px;
}
